:root {
  --primary: #42E2B8;
  --gradiant: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
  --black: black;
  --font: 'Oxygen', sans-serif;
}

body {
  font-family: var(--font);
  background: var(--gradiant);
  margin: 0;
}

.u-wrapper {
  max-inline-size: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}

.h1 {
  font-family: Oxygen;
  font-size: 59px;
  line-height: 95px;
  font-weight: 700;
  margin: 1rem 0;
}

.h1.span {
  display: block;
}

.h3 {
  font-size: 48px;
  line-height: 77px;
}

.social-item {
  background: var(--primary);
  display: inline-block;
  inline-size: 44px;
  block-size: 44px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  border: 2px solid var(--black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#trucazo {
  opacity: 0;
}

.social-item img {
  vertical-align: middle;
}

.social-item + .social-item {
  margin-inline-start: 1em;
}


.btn {
  font-family: var(--font);
  background: initial;
  border-radius: 90px;
  block-size: 50px;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--black);
  padding: 0 1em;
}

.btn.full {
  width: 100%;
}

.btn.primary {
  background: var(--primary);
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}

.btn.secondary img {
  position: relative;
  bottom: 1px;
} 

.btn i {
  display: inline-block;
  margin-inline: 8px;
}

.btn span {
  vertical-align: middle;
}

.btn i img {
  block-size: 19px;
  inline-size: 19px;
  vertical-align: middle;
}

.hero {
  margin-block-end: 80px; 
}

.hero-content {
  /* text-align: center; */
}

.hero-content img {
  display: block;
  margin: 0 auto;
}

.header {
  padding: 1em 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre-projects-content {
  text-align: center;
}

.pre-projects-content p {
  font-size: 1.5em;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.5%;
}


.pre-projects-content p + p{
  font-weight: bold;
}

.project {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas: "image" "description";
}

.project-image {
  grid-area: image;
  text-align: center;
  margin-block-end: 2em;
}

.project-description {
  grid-area: description;
}

.project img {
  max-width: 100%;
}

.project-title {

}

.project-title span {
  background: var(--black);
  color: var(--primary);
  display: inline-block;
  padding: .5em;
  box-shadow: -4px 4px 0 white;
}

.project-copy {
  line-height: 25px;
  letter-spacing: .5%;
  margin-block-start: 2em;
}

.project-cta {
  margin-block-start: 1.5em;
}

.project-cta button + button {
  margin-block-start: 1rem;
}

.testimony {
  padding: 1.5em;
  border-radius: 1.5em;
  backdrop-filter: blur(39.7657px);
  background: rgba(255, 255, 255, .2);
  border: 3.98px solid rgba(255, 255, 255, .4);
}

.testimony-image {
  text-align: center;
}

.testimony-copy {
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
}

.testimony-title {
  font-size: 12px;
  color: rgba(0, 0, 0, .4);
  text-transform: uppercase;
  line-height: 20px;
}

.project, .testimony {
  margin-block: 2.5em;
}

.form {
  max-inline-size: 500px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  margin-inline-start: .5rem;
  font-weight: 700;
  font-size: 16px;

}

.form label span {
  color: #DA1414;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  border-radius: 1em;
  padding: .8rem;
  border: 1px solid #858C94;
}

.form textarea {
  
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}

.contact {
  margin-block-end: 2.5em;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description image";
  }

  .hero-description {
    grid-area: description;
  }

  .hero-image {
    grid-area: image;
  }

  .hero-image img {
    inline-size: 500px;
    margin-top: -50px;
  }

  .pre-projects-content {
    max-inline-size: 900px;
    margin: auto;
  }
  
  .project {
    grid-template-areas: "description image";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
  }

  .project-cta {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .project-cta button + button {
    margin: 0;
  }

  .testimony {
    max-inline-size: 900px;
    margin: auto;
    padding: 5em;
    text-align: center;
  }

  .testimony-copy {
    font-size: 2.2em;
    line-height: 55px;
  }

  .testimony-title {
    font-size: 1.5em;
  }

  .project .testimony {
    margin-block: 5em;
  }

  .form .tag span {
    display: block;
    text-align: center;
  }
}